{% extends "../layouts/base.twig" %}

{% block style %}
    <link rel="stylesheet" href="./assets/css/register.css" />
{% endblock %}

{% block title %}
    <title>Yolo</title>
{% endblock %}

{% block main %}
    <main>
        <section>
            <h1>Formulaire {% if book %}d'édition{% else %}d'ajout de livre{% endif %}</h1>
            <form action=
                {% if book %}"/updateBook/{{book.id}}"
                {% else %}"/addBook"{% endif %} method="post">
                <div>
                    <label for="title">Titre du livre</label>
                    <input type="text" id="title" name="title" value="{{book.title}}">
                </div>
                <div>
                    <label for="author">Auteur du livre</label>
                    <input type="text" id="author" name="author" value="{{book.author}}">
                </div>
                <button>{% if book %}Modifier{% else %}Ajouter un livre{% endif %}</button>
            </form>
        </section>
    </main>
{% endblock %}
